<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header-confirm">
                <!--<button type="button" class="close" ng-click="no()">×</button>-->
                <h4 class="modal-title"><span class="glyphicon glyphicon-check"></span> Comfirm</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{item}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="ok()">Yes</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">No</button>
            </div>
        </div>
    </div>
</div>